(
        {{#allParams}}
        {{paramName}}={{paramName}},
        {{/allParams}}
        _request_timeout=_request_timeout,
        _request_auth=_request_auth,
        _content_type=_content_type,
        _headers=_headers,
        _host_index=_host_index,
    )
