# https://github.com/marketplace/actions/pytest-coverage-comment
name: Test and Coverage

on: [push, pull_request]

permissions:
  contents: write
  checks: write
  pull-requests: write

env:
  API_ENV: ${{ (github.event_name == 'pull_request' && github.base_ref == 'v3') || (github.event_name == 'push' && github.ref == 'refs/heads/v3') && 'prod' || 'dev' }}
  JWT_SECRET: ${{ secrets.JWT_SECRET }}

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Install package
        run: uv add --editbale . --dev

      - name: Package build test
        run: |
          uv build
      - name: Import verification
        run: |
          uv run python -c "import crypticorn; import importlib.metadata; print(f'Package version: {importlib.metadata.distribution(\"crypticorn\").version}')"

      - name: Test with pytest
        run: uv run pytest tests/ --cov=crypticorn --cov-branch --cov-report=xml --cov-report=term-missing:skip-covered

      - name: Pytest coverage comment
        if: ${{ matrix.python-version == '3.14' }}
        uses: MishaKav/pytest-coverage-comment@main
        with:
          title: Coverage Report ${{ matrix.python-version }}
          pytest-xml-coverage-path: ./coverage.xml
          report-only-changed-files: true
          hide-report: true
